@inherits ReactiveComponentBase<SearchViewModel>
@inject SearchViewModel _searchViewModel
@page "/Search"
<h3>Search</h3>
<input id="name"
       type="text"
       class="form-control"
       placeholder="Search the interweb"
       @bind-value="ViewModel.SearchText"
       @bind-value:event="oninput" />
<div>
    @if (ViewModel.SearchResults.Any())
    {
        <MatList SingleSelection="true" TwoLine="true">
            @foreach (var relatedTopic in ViewModel.SearchResults)
            {
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText><a href="@relatedTopic.FirstUrl">@relatedTopic.Text</a></MatListItemPrimaryText>
                        <MatListItemSecondaryText></MatListItemSecondaryText>
                    </MatListItemText>
                    <div>
                        @if (@relatedTopic.Topics != null && @relatedTopic.Topics.Any())
                        {
                            <ul>
                                @foreach (var topic in relatedTopic.Topics)
                                {
                                    <li><a href="@topic.FirstUrl">@topic.Text</a></li>
                                }
                            </ul>
                        }
                    </div>
                </MatListItem>
            }
        </MatList>
    }
    else
    {
        <div></div>
    }
</div>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        <CardView/>

        <CardView/>

        <CardView/>
    </div>
</div>

<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
